.TabBar {
    margin-top:   20px;
    margin-left:  20px;
    margin-right: 20px;
}

.TabContent {
    margin-top:   20px;
    width:        75%;
}

.formgroup {
    margin-left:  10px;
}

.submitButton {
    float:        right;
}

.fas-left {
  margin-right: 10px;
}
