.TabBar {
    margin-top:   20px;
    margin-left:  20px;
    margin-right: 20px;
}

.TabContent {
    margin-top:   20px;
    width:        75%;
}

.formgroup {
    margin-left:  10px;
}

.submitButton {
    float:        right;
}

.fas-left {
  margin-right: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color:     #615a53;
}

.portal-title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 49px;
    color:     #615a53;
}