.MemberContent {
    padding: 20px;
    width:   100%;
}

.checkboxClass {
    margin-left: 20px;
    padding: 2px;
}

a {
    transition: 0.25s;
}

a:hover {
    font-size: 120%;
    cursor:    pointer;
}

.jumbo {
    margin-left: 20px; 
}
