.claim-col {
  margin-left: 20px;
}

.members-home-jumbo {
  padding-top: 2rem;
}

.top-actions {
  justify-content: center;
  margin: 2rem;
}

.new-case-btn {
  flex: 0.5;
  float: right;
  margin: 10px;
  margin-right: 20px;
  background-color: rgb(219, 119, 26);
  border: none;
}
