.c-nav-link {
  text-decoration: none;
  margin-right:    10px;
}
.nav-link-disabled {
  pointer-events:  none;
  color:         black;
}

.nav-links {
  float: left;
  margin-left:   10px;
  margin-bottom: 10px;
}

.nav-text {
  font-family:   'Lato', sans-serif;
  display:       inline-block;
  font-weight:   400;
  line-height:   16.8px;
  color:       #615A53;
  margin-left:   5px;
}

.nav-test :hover {
  color: black;
}

.nav-title {
  font-family:   'Lato', sans-serif;
  font-weight:   600;
  line-height:   49px;
  color:         #b4a78f;
}

.nav-title :hover {
  color: black;
}