.table-title {
  justify-content: center;
  margin:      1rem;
  font-size:   1.3rem;
  font-weight: 600;
}

.case-ruling {
  max-width: 130px;
  text-overflow: ellipsis;
  overflow:  hidden;
}

.cases-table {
  margin-top: 40px;
}

.cases-table .btn {
  margin: 5px;
}

.border-x {
  border-radius: 15px 50px 30px 5px;
}

.new-case-btn {
  float:  right;
  /* background-color: rgb(219, 119, 26); */
  border: none;
}

.new-case-btn:hover {
    background-color: #47413a;
}

.cases-info {
  margin-left: 5px;
  margin-top:  2px;
}