.table-title {
  justify-content: center;
  margin:    1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.case-ruling {
  max-width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cases-table {
  margin-top: 40px;
  margin-left:100px;
}

.cases-table .btn {
  margin: 5px;
}

.scroll-x {
  overflow-y: scroll;
}
