.modal-title {
  width: 100%;
}

.loading-body {
  display: flex;
  justify-content: center;
}

.loading-body > .spinner {
  width:  3rem;
  height: 3rem;
  margin: 3rem;
}

/* .case-status-muted {

} */