.ArbitratorContent {
    padding: 20px;
    width:   100%;
}

.tabContent {
    margin-top: 20px;
}

.checkboxClass {
    margin-left: 20px;
    padding: 2px;
}

.radioClass {
    margin-left: 20px;
    padding: 2px;
}

a {
    transition: 0.25s;
}

a:hover {
    font-size:  120%;
    cursor:     pointer;
}